*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    white-space: nowrap;
    overflow:hidden;
}
body{
    width:100vw;
    height:100vh;
}
h1{
    text-align:center
}
#option_box{
    width:90%;
    height:30px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:relative;
}
#inputEnglish{
    ime-mode: inactive;
}
#drag_box{
    width:150px;
    height:100%;
}
#word_list{
    margin:0 auto;
    margin-top:10px;
    width:90%;
    height:85%;
    border:1px solid black;
    overflow:hidden;
}
#difficult_list{
    display:none;
    margin:0 auto;
    margin-top:40px;
    width:90%;
    height:30%;
    border:1px solid black;
}
legend
{
    text-align:center;
}
#words_lists_container{
    width:100%;
    height:100%;
    padding:10px 20px;
    display:flex;
    justify-content:flex-start;
}
.words_container{
    display:inline-block;
    width:330px;
    height:100%;
    display:flex;
    justify-content:flex-start;
    flex-direction:column;
    margin-right:45px;
}
.words_container:last-of-type{
    margin-right:0;
}
.word_box{
    display:flex;
    justify-content:space-between;
    
}
.english_word{
    width:40%;
    border-right:1px solid black;
}
.korean_word{
    width:50%;
    white-space:nowrap;
    overflow:hidden;
}

#random{
    margin-right:20px;
}
.pagenation_box{
    position:absolute;
    bottom:0.5%;
    width:100%;
    height:5%;
    display:flex;
    justify-content:center;
    align-items:center;
}
#pagenation{
    width:30%;
    height:100%;
    display:flex;
    justify-content:space-around;
    font-size:1.5rem;
    color:#bbb;
}
.currentPage{
    color:black;
    font-weight:bold;
}
@media screen and (max-width:1000px){
    #drag_box{
        display:none;
    }
}